<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        navbar {
          background-color: #fff;
        }
        div.demand {
          margin: 0px;
          padding: 1em;
        }
        div.scrollmenu {
          background-color: #fff;
        }
        div.scrollmenu a {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px;
          text-decoration: none;
        }
    </style>
  </head>
  <body style="font-family: 'Hiragino Sans', 'Noto Sans JP', sans-serif;">
    <navbar>
        <a href="https://no-lack.com"><img src="https://no-lack.com/images/nolackBlack@2x.png" style="height: 5em;" /></a>
    </navbar>
    <div style="b{margin: 0px; padding: 0px;}">
      <p>
        {% if name != None or name.replace(' ', '').replace('　', '') == '' %}
        {{ name }}様
        {% else %}
        登録者様
        {% endif %}
      </p>
      <p>
        {{ now_date }}のニュースレターです。
        <br />
        {{ msg }}
      </p>
      <div class="scrollmenu">
        {% for demand in demands %}
        <div class="demand" style="overflow-wrap: break-word;">
          <h4>
            {{ demand['name'] }}
          </h4>
          <p>
            都道府県：{{ demand['prefecture'] }}
            <br />
            Eメール：
            {% if demand['email'] != '' %}
            {{ demand['email'] }}
            {% else %}
            <i>なし</i>
            {% endif %}
            <br />
            電話番号：
            {% if demand['phone'] != '' %}
            {{ demand['phone'] }}
            {% else %}
            <i>なし</i>
            {% endif %}
          </p>
          <table>
            <tr>
              <th>個数</th>
              <th>品名</th>
            </tr>
            {% for item in demand['lackedItems'] %}
            <tr>
              <th>{{ item['number'] }}</th>
              <th>{{ item['item'] }}</th>
            </tr>
            {% endfor %}
          </table>
          <p>
            {{ demand['comment'] }}
          </p>
        </div>
        {% endfor %}
      </div>
      <p>
        <b>ノラックに関心を持っていただきありがとうございます。</b>
        <br />
        ノラックチーム一同
      </p>
      <br />
      <a href="https://no-lack.com"><img src="https://no-lack.com/images/nolackBlack@2x.png" style="height: 2em;" /></a>
      <br />
      <p>
        このメールはノラックのニュースレター送信を希望されたため、自動的に送信されました。もしニュースレターの送信を希望されない場合は、こちらの <a href="https://no-lack.com">ウェブサイト</a>の問い合わせフォームからご連絡ください。
        <a href="https://gitlab.com/colourdelete/nolack-server" >Nolack Server</a>
        {% if ci_commit_sha != "" or ci_commit_sha != None %}
        version {{ ci_commit_sha }}
        {% endif %}
        から送信。Python 3、Jinja 2、Firebase Admin Python SDK、Flask、python-dateutilsなどのオープンソースーソフトウェア使っています。 
        <br />
        このメール本文のレンダリング/生成に使用されるメールテンプレートは、GNU Lesser General Public Licenseの下でライセンスされています。
        <br />
        ライセンス通知と、どのバージョンが優先されるかについてのこの通知の日本語版（上記）が英語版（下記）と一致しない場合、英語版が優先されます。
        If the Japanese version of the license notice and this notice about which version will prevail (above) does not match with the English version (below), the English version will prevail.
        <br />
        The email template used to render/generate this email body is licensed under the GNU Lesser General Public License.
      </p>
    </div>
  </body>
</html>
